<div class="container-fluid">
    <h2 class="text-center">Create a new quote</h2>
    <hr>
    <form #quoteForm='ngForm'(ngSubmit)='submitquote()'>
      <br>
        <div class="form-group">
            <label for="description">Author Name</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="newquote.description" name="description" #description='ngModel' required>
            <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
              <p>Author name is required</p>
            </div>
        </div>
        <br>
        <div class="form-group">
          <label for="person">Enter Name</label>
          <input type="text" class="form-control" id="person" [(ngModel)]="newquote.person" name="person" #name='ngModel' required>
      </div>
      <br>
        <div class="form-group">
  
            <label for="name">Enter Quote</label>
            <textarea class="form-control" id="name" rows="4" [(ngModel)]="newquote.name" name="name" #name="ngModel" required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Quote must be filled</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-sm btn-success">Post Quote</button>
    </form>
  </div>